body {
	margin: 0;
}
.choice {
	color: blue;
	cursor: pointer;
	padding: 20px;
	text-align: center;
}
.playerChoice {
	background-color: blue;
	color: white;
	text-align: center;
	padding: 5px;
}
.playButton {
	display: block;
	margin: 0 auto;
}
#result {
	color: red;
	text-align: center;
	font-size: 26px;
}